@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css"; /* <-- ESTA ES LA LÍNEA MÁGICA QUE FALTABA */

/* Importante para PrimeNG 21 */
@layer primeng;
@layer tailwind-base, primeng, tailwind-utilities;

body {
    margin: 0;
    font-family: var(--font-family, sans-serif);
    background-color: #f4f7f9;
}